<!DOCTYPE html>
<html>
<head>
	<META HTTP-EQUIV="refresh" CONTENT="3;URL=/adminpanel">
    <title> DPI | Change Password</title>
</head>
<body>

<!-- <div class="form-group blog-body">
	
<a href="/Home.html/">  
	<button type="submit" name="submit" class="btn btn-default" required="required">Return Home</button></a>
</div>  -->


<center><img  class="center" src="/static/checked.png" alt="logo" width="100px" height="100px" style="margin-top:170px;" ><h2>Your Password Change has been sent successfully...</h2></center>

</body>
</html>